<%- include("templates/encabezado.ejs")  %>
<%- include("templates/menu.ejs") %>
<h1>Mostrar usuarios</h1>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>usuario</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <% usuarios.forEach((usuario)=> { %>
        <tr>
            <td><%= usuario.id %></td>
            <td><%= usuario.nombre %></td>
            <td><%= usuario.usuario %></td>
            <td><%= usuario.password %></td>
            <td><a href="/modificarUsuario/<%= usuario.id %>">Editar</a> / <a href="/borradoFisicoUsuario/<%= usuario.id %>">Borrado fisico</a> / <a href="/borradoLogicoUsuario/<%= usuario.id %>">Borrado Logico</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<%- include("templates/pie.ejs") %>